<div class="edit_page">
<div class="alert alert-success"><h1>Editing Picture</h1></div>
<div class="edit_page2">
<%= render 'form', picture: @picture %>
</div>
<%= link_to 'Show', @picture %> |
<%= link_to 'Back', pictures_path %>
</div>
