// Place all the styles related to the pictures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
   margin-top: 0px;
   margin-left: 0px;
   margin-right: 0px;
   margin-bottom: 0px;
   position: relative;
   height: 100vh;
 }

.header_one {
  background-color: blue;
  height: 120px;
}

.FacebookClone {
  font-size: 60px;
  text-align: center;
  color: white;
}

.footer2 {
  background-color: blue;
  height: 120px;
  position: absolute;
  bottom: 0px;
  width: 100%;
}

.log_in_page {
  text-align: center;
  line-height: 3rem;

}

.sign_up {
  text-align: center;
  line-height: 3rem;
}

.new_picture {
  text-align: center;
  line-height: 3rem;
  margin: 3em 550px;
}

.alert {
  text-align: center;
}

.edit_page {
  text-align: center;
  line-height: 3rem;
}
.edit_page2 {
  margin: 2em 600px;
}

img {
  width: 200px;
  margin: 2em 100px;
}

table,.top_page {
  margin: 4em 500px;
  text-align: center;
}

.editing {
  text-align: center;
}

.field {
  margin: 2em 150px;
}

.field_two {
  margin: 1rem -50%;
}

.error_explanation {
  margin: 2em 500px;
}

.confirm_page {
  text-align: center;
  margin: 2em 500px;
}
